<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022 - <a href="https://www.linkedin.com/in/sanjanayadav11/" class="text-muted">Sanjana Yadav</a></span>

    </div>
</footer>